<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-white">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <h2>Bienvenido a tu espacio</h2>
    <p>Selecciona una opción del menú para continuar.</p>

    <div class="menu-vertical">
      <ul class="list-group">
        <li class="list-group-item" (click)="goToRegistrarQR()">Registrar QR</li>
        <li class="list-group-item" (click)="logout()">Salir</li>
      </ul>
    </div>
  </div>
</ion-content>
